@{
    ViewData["Title"] = "隱私權政策";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="mb-3">隱私權聲明</h2>
            
            <p>感謝您使用「鏈上刑警」網站，本隱私權政策旨在說明我們如何收集、使用、保護和處理您的個人資料。在您使用本網站服務前，請詳閱以下內容：</p>
            
            <h4 class="mt-4">一、資料收集</h4>
            <p>我們可能會收集以下類型的資訊：</p>
            <ul>
                <li>您主動提供的資料：如您輸入的IP地址</li>
                <li>自動收集的資料：如您的瀏覽器類型、訪問時間、訪問頁面等</li>
                <li>系統自動產生的資料：如IP查詢結果及相關分析數據</li>
            </ul>
            
            <h4 class="mt-4">二、資料使用</h4>
            <p>您所提供的資料將用於：</p>
            <ul>
                <li>提供您所請求的IP查詢及區塊鏈分析服務</li>
                <li>改善我們的網站功能和用戶體驗</li>
                <li>防範詐欺和非法活動</li>
                <li>履行法律要求和執法目的</li>
            </ul>
            
            <h4 class="mt-4">三、資料安全</h4>
            <p>我們採取適當的技術和組織措施來保護您的個人資料不被未授權訪問、竄改、披露或毀損。所有資料傳輸均經過加密處理，資料庫存取受到嚴格控制。</p>
            
            <h4 class="mt-4">四、資料保存</h4>
            <p>我們僅在必要的時間內保存您的資料，以實現本隱私權政策中所述的目的。一旦資料不再需要，我們將安全地刪除或匿名化處理這些資料。</p>
            
            <h4 class="mt-4">五、資料分享</h4>
            <p>除以下情況外，我們不會與第三方分享您的個人資料：</p>
            <ul>
                <li>經您明確同意</li>
                <li>為提供所請求的服務而必須分享的情況</li>
                <li>遵守法律要求、法院命令或政府機構的合法要求</li>
                <li>保護新竹市警察局、用戶或公眾的權利、財產或安全</li>
            </ul>
            
            <h4 class="mt-4">六、您的權利</h4>
            <p>依據個人資料保護法，您擁有以下權利：</p>
            <ul>
                <li>查詢或請求閱覽您的個人資料</li>
                <li>請求製給您的個人資料複製本</li>
                <li>請求補充或更正您的個人資料</li>
                <li>請求停止蒐集、處理或利用您的個人資料</li>
                <li>請求刪除您的個人資料</li>
            </ul>
            
            <h4 class="mt-4">七、隱私權政策更新</h4>
            <p>我們可能會不定期更新本隱私權政策。當我們進行重大變更時，將在網站上發布通知。建議您定期查看本頁面以了解最新的隱私保護措施。</p>
            
            <h4 class="mt-4">八、聯繫方式</h4>
            <p>如您對本隱私權政策有任何疑問或需要行使您的權利，請通過以下方式聯繫我們：</p>
            <ul class="list-unstyled">
                <li><strong>公司名稱：</strong>新竹市警察局</li>
                <li><strong>地址：</strong>新竹市北區中山路1號</li>
                <li><strong>Email：</strong>413682@ems.hccg.gov.tw</li>
                <li><strong>電話：</strong>03-5262916</li>
            </ul>
            
            <p class="mt-4 text-muted">最後更新日期：2025年4月7日</p>
        </div>
    </div>
</div></p>